body {
    background-color: dodgerblue;
    padding: 10px;
    font-family: sans-serif;
}


header {
    color: white;
    font-size: 18px;
}

code {
    clear:both;
}


.accordian {
    border: 1px solid white;
    clear: both;
    background-color: lightgrey;
    margin: 5px auto;
    cursor: pointer;
}