body {
    background-color: dodgerblue;
    padding: 10px;
    font-family: sans-serif;
}


header {
    color: white;
    font-size: 32px;
}

#code {
    clear:both;
    width: 100%;
    height: 400px;
}


